*.pyc
*.html~
*.p
*.mieff
*.json~

# Jupyter Notebooks
.ipynb_checkpoints
notebooks/*.html

# Installation
build/
dist/
*.egg-info/

# Mac files
*.DS_Store

# Eliza Kempton's private condensation curves
virga/reference/condensation_Ts.dat
